<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uib.pbyt.mapper.ChannelMapper">
    
	<sql id="channelColumns">
		a.id AS "id",
		a.code AS "code",
		a.name AS "name",
		a.office_id AS "officeId",
		A.office_name AS "officeName",
		a.first_office_id AS "firstOfficeId",
		a.first_office_name AS "firstOfficeName",
		a.second_office_id AS "secondOfficeId",
		a.second_office_name AS "secondOfficeName",
		a.flag AS "flag",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		o4.name AS "office.name"
	</sql>
	
	<sql id="channelJoins">
		LEFT JOIN t_office o4 ON o4.id = a.office_id
	</sql>
    
	<select id="getChannelInfo" parameterType="string" resultType="ChannelOffice">
		SELECT
			c.id AS 'channelId',
			c.`name` AS 'channelName',
			o.category AS 'channelCategory',
			o.`name` AS 'officeName',
			o.province_name AS 'provName',
			o.province_code AS 'provCode',
			o.city_name AS 'cityName',
			o.city_code AS 'cityCode',
			o.county_name AS 'countyName',
			o.county_code AS 'countyCode'
		FROM
			t_channel c
		LEFT JOIN 
			t_office o 
		ON 
			c.second_office_id = o.code
		<where>
			c.id = #{channelId}
		</where>
		GROUP BY c.id
	</select>
	
	<select id="findOfficeAndAreaByChannelId" resultType="map">
		SELECT
	      a.first_office_id AS "firstOfficeId",
          a.first_office_name AS "firstOfficeName",
          b.province_name AS "provinceName",
          b.province_code AS "provinceCode",
          b.city_code AS "cityCode",
          b.city_name AS "cityName",
          b.county_code AS "countyCode",
          b.county_name AS "countyName"
          FROM
	      t_channel a
          left join t_office b ON
          a.first_office_id = b.code
       WHERE
	     a.id = #{channelId}
	</select>
	
</mapper>